@import '~/shared/lib/mixes.scss';
@import '~/shared/lib/mixes-font.scss';

.todo-list-row {
  @include flex-container($just: center, $gap: 10px, $fw: wrap);

  &__text {
    @include usual-text;

    background-color: transparent;
    border: none;
    border-radius: 5px;
    padding: 2px;

    min-width: 500px;
    overflow: hidden; /* Скроем переполнение текста */
    cursor: move;

    @media screen and (max-width: 900px) {
      min-width: 300px;
    }

    @media screen and (max-width: 700px) {
      max-width: 180px;
      min-width: 100px;
    }

    &_through {
      text-decoration: line-through;
    }

    &_change {
      box-shadow: 0 0 10px var(--el-input-shadow-color-active);
      cursor: text;
    }
  }

  &__container {
    @include flex-container;
  }

  &__info {
    @include usual-text($fs: 16px, $color: var(--main-tx-color-info));
  }
}
