@import '~/shared/lib/mixes.scss';
@import '~/shared/lib/mixes-font.scss';

.todo-searcher {
  @include flex-container($dir: column);

  &__input {
    @include usual-text();

    width: 100%;
    height: 32px;

    padding: 2px 5px;

    &-container {
      display: contents;
      min-width: 300px;
    }

    &:active {
      &-container {
        border-width: 2px;
      }
    }
  }

  &__line {
    @include flex-container;
  }

  &__er {
    @include usual-text(18px, var(--main-tx-err-color));
  }
}
