@import '~/shared/lib/mixes.scss';

:root {
  --gold-color: rgb(168, 159, 5);

  --main-bg-color: #fff;
  --el-bg-color: #000;

  --main-tx-color: #000;
  --main-tx-color-info: grey;
  --main-tx-err-color: var(--gold-color);
  --el-tx-color: #fff;

  --el-border-color: #000;
  --el-border-color-active: var(--gold-color);

  --el-input-shadow-color-active: var(--gold-color);
}

html {
  margin: 0;
  padding: 0;
}
