@import '~/shared/lib/mixes.scss';

:root {
  --main-bg-color: #fff;
  --el-bg-color: #000;
  --main-tx-color: #000;
  --el-tx-color: #fff;
  --el-border-color: #000;
}

html {
  margin: 0;
  padding: 0;
}
